body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-style {
  background-color: rgb(4,93,37);
}

.graph-header-style {
  background-color: rgb(4,93,37);
  color: white;
}

.large-margin {
  margin-top: 50px;
}

.accordion-button {
  background-color: rgba(4,93,37,1) !important;
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(4,93,37,.6) !important;

  color: white;
}

.dropdown-toggle::after {
  display: none !important; 
}

.btn-custom {
  background-color: rgba(4,93,37,1) !important;
  color: white;
}

.btn-custom:disabled {
  background-color: rgba(4,93,37,.5) !important;
  color: white;
  border: none;
}

.btn-custom:focus {
  background-color: rgba(4,93,37,1) !important;
  color: white;
}

.green-color:disabled {
  background-color: rgba(4,93,37,.5) !important;
}

.sit-left {
  justify-content: flex-start;
}

.green-color {
  background-color: rgb(4,93,37);
}

.full-width-button {
  width: 100%;
}

.green-text {
  color: rgb(4, 93, 37);
}

.red-text {
  color: red;
}

.login-error {
  color: red
}

.sit-right {
  justify-content: flex-end;
}

.card-text {
  display: flex;
  justify-content: flex-start;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  border: 1px solid black;
}

.bills-name {
  flex-shrink: 0;
}

.button-primary {
  display: flex;
  justify-content: flex-start;
}

.x-box {
  background-color: red;
}

.accordion-box {
  background-color: rgba(4,93,37,.5);
}

.check-box {
  background-color: green;
}

.nav-link {
  text-decoration: none;
  color: gray;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.drop-down {
  margin-left: 3px;
}

.date-div {
  margin-left: 12px;
  margin-bottom: 12px;
}

.pull-over-button {
  position: fixed;
  bottom: 21rem;
  right: 0rem;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  height: 6rem;
  width: 1rem;
}

.in-cart-item {
  background-color: rgba(4,93,37,.5);
}

.canceled-cart-item {
  text-decoration: line-through;
}

.fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 0px; 
  /* border: 1px solid black; */
  font-size: 40px;
  /* border-radius: 50%; */
  /* padding-bottom: 3px; */
  /* padding-top: 3px; */
  margin-right: 9px;
  margin-bottom: 9px;
  /* color: orange; */
  color: rgb(4,93,37);
  width: 40px;
  height: 40px;
  /* background-color: rgba(255, 114, 0, 0.69); */
}

.hamburger {
  height: 30px;
  width: 30px;
}

.backcolor {
  background-color: gray;
  border-radius: 50%;
}